main{a:10;
    section.visual{a:10;
        div.box{a:10;
            div.videobox{a:10;
                video{a:10;

                }
                button{a:10;
                    img{a:10;

                    }
                }
            }
        }
    }
}